<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--配置全局属性-->
	<settings>
		<!--使用jdbc的getGeneratedKeys获取数据库自增主键-->
		<setting name="useGeneratedKeys" value="true"/>
		<!--使用列别名替换列名默认为true-->
		<setting name="useColumnLabel" value="true"/>
		<!--开启驼峰命名转换：TableName -》Entity -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<!-- value="mssql58|mssql12|oracle|mysql|db2" -->
	<!-- <properties>
        <property name="dialect" value="mysql" />
    </properties>

	<settings>
	     <setting name="logImpl" value="LOG4J"/>
	</settings> -->
	
    <!-- <plugins>
    	<plugin interceptor="com.gian.commons.dialect.PaginationInterceptor" />
    </plugins> -->
</configuration>