<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--在thymeleaf3.0以前对页面标签的语法较严格，有开始标签，必要有结束标签,否则会报错-->
    <meta charset="UTF-8">
<!--
    <meta charset="UTF-8"/>
-->
    <title>页面模板测试</title>
</head>
<body>
    <h3 th:text="${hellllo}"></h3>

    <hr/>

<div shiro:hasPermission="user:add">
    用户添加：<a href="user/add">进入</a><br>
</div>
<div shiro:hasPermission="user:update">
    用户修改：<a href="user/update">进入</a>
</div>




</body>
</html>